.container
  .posts
    - @posts.each do |post|
      .section.post
        .user
          .avatar
            = image_tag 'https://scontent-mia3-2.cdninstagram.com/v/t51.2885-19/s150x150/13413365_703992793072121_1761280401_a.jpg?_nc_ht=scontent-mia3-2.cdninstagram.com&_nc_ohc=TBeErqXBu-4AX-37A0B&oh=204a1884c9958b98f7d69823b4ff59de&oe=5EF241BB', class: ''
          .username
            = post.user.username
        = image_tag (post.image), class: 'main-image'
        .description
          =post.description
